* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: #f2a062;
    width: 100%;
    padding: 15px;
}

aside {
    background-color: #f6bd62;
    width: 20%;
    height: 400px;
    padding: 15px;
}

main {
    background-color: #8eabc0;
    width: 80%;
    height: 400px;
    padding: 15px;
}

footer {
    background-color: #b7ce3f;
    width: 100%;
    padding: 15px;
}