.divOne {
  border-color: red;
  border-width: 1px;
  border-style: solid;
  padding: 100px;
}
.divTwo {
  border-width: 5px;
  border-style: solid;
  border-color: green;
}
.divThree {
  border-width: 2px;
  border-right-style: double;
  border-right-color: navy;
}
section {
  display: grid;
  grid-template-columns: auto auto auto;
}
